
@{
    ViewData["Title"] = "Registro";
}

<h2>Registro de un Usuario</h2>

<div class="container">
    <div class="row">

        <form method="post" action="/Usuario/Registro" id="forma"
              class="form-horizontal col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8 col-sm-10 col-sm-offset-1">
            <div class="form-group">
                <label class="control-label col-sm-4" for="paterno">Apellido Paterno</label>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        </span>
                        <input type="text" class="form-control" id="paterno"
                               name="paterno"
                               required="required"
                               aria-describedby="emailHelp"
                               placeholder="Ingrese su apellido paterno">
                    </div>

                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="materno">Apellido Materno</label>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        </span>
                        <input type="text" class="form-control" id="materno"
                               name="materno"
                               required="required"
                               aria-describedby="emailHelp"
                               placeholder="Ingrese su apellido materno">
                    </div>

                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="nombre">Nombre</label>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        </span>
                        <input type="text" class="form-control" id="nombre"
                               name="nombre"
                               required="required"
                               aria-describedby="emailHelp"
                               placeholder="Ingrese su nombre">
                    </div>

                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="nombre">Genero</label>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        </span>
                        <select type="text" class="form-control" id="genero"
                                name="genero"
                                required="required"
                                placeholder="Ingrese su nombre">
                            <option value="M">Masculino</option>
                            <option value="F">Femenino</option>
                        </select>
                    </div>

                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-4" for="nombre">username</label>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-barcode" aria-hidden="true">
                            </span>
                        </span>
                        <input type="text" class="form-control" id="matricula"
                               name="matricula"
                               required="required"
                               aria-describedby="emailHelp"
                               placeholder="Ingrese su username">
                    </div>

                </div>
            </div>
            <div class="form-group has-success">
                <label class="control-label col-sm-4" for="exampleInputPassword1">Password</label>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                        </span>
                        <input type="password" required="required" name="password" class="form-control" id="password" placeholder="Password">
                    </div>

                </div>
            </div>
            <div class="form-group has-success">
                <label class="control-label col-sm-4" for="exampleInputPassword1">Confirmación del Password</label>
                <div class="col-md-8">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                        </span>
                        <input type="password" required="required" name="password2" class="form-control" id="password2" placeholder="Password">
                    </div>
                </div>
            </div>
            <div id="panelErrores" class="text-danger hide col-md-offset-4" style="margin-bottom:10px;">
                Este texto no debe verse
            </div>
            <div class="col-md-offset-4">
                <button class="btn btn-primary" onclick="validar_enviar(); return false;">Registrar</button>
            </div>

            <div class="modal fade" tabindex="-1" role="dialog" id="dialogoRegistroCorrecto">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Registro de Usuario</h4>
                        </div>
                        <div class="modal-body">
                            <p>El usuario fue agregado de manera correcta. A continuación podrá continuar con el proceso...</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            <script>
                function validar_enviar() {

                  
                    var paterno = $("#paterno").val();
                    var materno = $("#materno").val();
                    var nombre = $("#nombre").val();
                    var genero = $("#genero").val();
                    var username = $("#username").val();
                    var password = $("#password").val();
                    var password2 = $("#password2").val();
                    var hayErrores = false;
                    var errores = "";
                    $("#panelErrores").addClass("hide");

                    if (password != password2) {
                        hayErrores = true;
                        errores = "<li>No coincide el password y su comprobación. Favor de verificar"
                    }

                    if (hayErrores) {
                        $("#panelErrores").html(errores);
                        $("#panelErrores").removeClass("hide");
                    } else {
                        $.ajax({
                            url: "/Alumnos/Registro",
                            data: {
                                "correo": correo,
                                "paterno": paterno,
                                "materno": materno,
                                "nombre": nombre,
                                "genero": genero,
                                "matricula": matricula,
                                "password": password,
                            },
                            type: 'POST',
                            success: function (datos) {
                                var resp = jQuery.parseJSON(datos);
                                if (resp.correcto === "si") {
                                    $("#dialogoRegistroCorrecto").modal("show");
                                }
                            }
                        });
                        //$("#forma").submit();
                    }
                }
            </script>
        </form>
    </div>
</div>
